<footer>
  <div class="container">
    <a href="/"><div class="logo"><span class="hide">Black Pixel</span></div></a>
    <nav class="footer-nav">
      <ul>
        <li><a href="#" class="company" title="Our Company">Company</a></li>
        <li><a href="#" class="work" title="Our Work">Work</a></li>
        <li><a href="#" class="labs" title="Black Pixel Labs">Labs</a></li>
        <li><a href="#" class="blog" title="Our Writing">Writing</a></li>
        <li><a href="#" class="contact" title="Contact Us">Contact</a></li>
        <li><a href="#" class="careers" title="Careers">Careers</a></li>
      </ul>
    </nav> 

    <nav class="social-nav">
      <ul>
        <li class="ss-icon"><a href="#" title="Twitter">Twitter</a></li>
        <li class="ss-icon"><a href="#" title="Facebook">Facebook</a></li>
        <li class="ss-icon"><a href="#" title="LinkedIn">LinkedIn</a></li>
        <li class="ss-icon"><a href="#" title="Google Plus">GooglePlus</a></li>
      </ul>
    </nav> 

</footer>
