<header class="cd-header">
	<div class="container">
		<a href="/"><div class="logo"><span class="hide">Black Pixel</span></div></a>
		
		<nav class="main-nav">
			<ul>
				<li><a href="/company/" class="company" title="Our Company">Company</a></li>
				<li><a href="/work/" class="work" title="Our Work">Work</a></li>
				<li><a href="/labs/" class="labs" title="Black Pixel Labs">Labs</a></li>
				<li><a href="/writing/" class="blog" title="Our Writing">Writing</a></li>
				<li><a href="/contact/" class="contact" title="Contact Us">Contact</a></li>
			</ul>
		</nav> 

		<div class="mobile-menu">	
			<nav class="mobile-nav">
				<ul>
					<li><a href="/company/" class="company" title="Our Company">Company</a></li>
					<li><a href="/work/" class="work" title="Our Work">Work</a></li>
					<li><a href="/labs/" class="labs" title="Black Pixel Labs">Labs</a></li>
					<li><a href="/writing/" class="blog" title="Our Writing">Writing</a></li>
					<li><a href="/contact/" class="contact" title="Contact Us">Contact</a></li>
				</ul>

				<div class="address">
					<span>Black Pixel</span><br />
					2206 Queen Anne Ave N, Suite 401<br />
					Seattle, WA 98109<br />
					<a class="phone" href="tel://1-206-216-3923">+1 206 216 3923</a>
				</div>

				<nav class="social-nav">
		      <ul>
		        <li class="ss-icon"><a href="#" title="Twitter">Twitter</a></li>
		        <li class="ss-icon"><a href="#" title="Facebook">Facebook</a></li>
		        <li class="ss-icon"><a href="#" title="LinkedIn">LinkedIn</a></li>
		        <li class="ss-icon"><a href="#" title="Google Plus">GooglePlus</a></li>
		      </ul>
		    </nav> 

			</nav> 
		</div>

		<a class="cd-primary-nav-trigger" href="#0"><span class="cd-menu-icon"></span></a> 

	</div>
</header>